* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-image: url("bd.jpg");
   background-size: 100%;
   display: flex;
   justify-content: center;
   padding: 10px 20px;
   font-weight: bold;
   font-size: 25px;
   margin-top: 110px;
  }
.text {
    border: none;
    padding: 10px;
    width: 270px;
    font-size: 16px;
    color: blue;
    height: 36px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }

 .form textarea{
    border: none;
    padding: 10px;
    font-size: 16px;
    color: blue;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  }
.form button{
    border: none;
    padding: 5px;
    width: 60px;
    font-weight: bold;
    font-size: 13px;
    background: white;
    color: black;
    height: 26px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
.form button:hover, .form button:focus, .form button:active {
    transform: scale(1.2);
}